<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_app/css/purchase.css' %}">
</head>
<body  class="p-3 mb-2 bg-info text-white">
  <div class="wrapper">
    <a class="home" href="/dashboard">Home</a>
    <h1>Purchase Posts!</h1>
    <h3> <span class="text-success">$1</span> = 5 posts</h3>
    <p>Select how much you are willing to pay</p>
    <form action="/prestripe" method="post">
      {% csrf_token %}
      <div class="form-group">
        <select class="form-control" name="purchase">
          <option value=100>$1</option>
          <option value=200>$2</option>
          <option value=300>$3</option>
          <option value=400>$4</option>
          <option value=500>$5</option>
        </select>
      </div>
      <input  class="btn btn-success" type="submit" value="Buy">
    </form>
  </div>
</body>

</html>
